// @import '~swiper/swiper-bundle';

ngb-carousel {
    max-width: 700px;
    margin: 50px auto;
}

ngb-carousel img {
    width: 100%;
    outline: none;
}

ngb-carousel {
    width: inherit;
    height: inherit;
}

.carousel-inner {
    overflow: visible;
}

.carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;
}

.carousel-item.active {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.carousel-control-prev {
    z-index: 20;
}

.carousel-control-next {
    z-index: 20;
}

.carousel-indicators {
    z-index: 20;
}

// popup

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.scale-image {
    transform: scale(2);
    margin-top: 100px;
}

.client-thumbnails {
    width: 70%;
    margin: 0 auto;
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 16px;
    border: 1px solid #888;
    width: 50%;
    overflow: hidden;
    height: 60vh;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 20px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal input[type="checkbox"] {
    display: none;
}

.modal img {
    transition: transform 0.25s ease;
    cursor: zoom-in;
    width: 100%;
    transform-origin: 0 0;
}
.img-container {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

.modal input[type="checkbox"]:checked ~ img {
    transform: scale(2);
    cursor: zoom-out;
}

.img-container {
    scrollbar-width: none;
}
.img-container::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
}
::ng-deep .slick-prev {
    transition: all 0.3s ease-in-out;
    animation-name: visibleSlider;
}
::ng-deep .slick-next {
    visibility: hidden;
    right: -100px;
    transition: all 0.3s ease-in-out;
}
::ng-deep .client-feedback:hover .slick-prev {
    visibility: visible;
    left: -55px;
}

::ng-deep .client-feedback:hover .slick-next {
    visibility: visible;
    right: -55px;
}
::ng-deep .slick-prev:before,
::ng-deep .slick-arrow::before {
    color: #000;
}

@keyframes visibleSlider {
    0% {
        left: -100px;
    }
    50% {
        left: -70px;
        visibility: visible;
    }
    100% {
        left: -55px;
        visibility: visible;
    }
}
