<!-- <ng-container *ngIf="imageObject.length > 0"> -->
<!-- <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
    <button (click)="prevImageClick()">Prev</button>
    <button (click)="nextImageClick()">Next</button> -->
<!-- </ng-container> -->

<!-- <swiper
    [slidesPerView]="1"
    [spaceBetween]="50"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()">
    <ng-template swiperSlide>Slide 1</ng-template>
    <ng-template swiperSlide>Slide 2</ng-template>
    <ng-template swiperSlide>Slide 3</ng-template>
</swiper> -->

<!-- <ngb-carousel [showNavigationArrows]="true"
    [showNavigationIndicators]="true"
    interval="12000"
    [keyboard]="true"
    [pauseOnHover]="true"
    [wrap]="true"
    [activeId]="'secondSlide'">
    <ng-template ngbSlide id="firstSlide">
        <div class="picsum-img-wrapper">
            <img src="assets/img-01.jpeg" alt="Angular Carousel 1">
        </div>
        <div class="carousel-caption">
            <h3>Title Goes Here</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide id="secondSlide">
        <div class="picsum-img-wrapper">
            <img src="assets/img-02.jpeg" alt="Angular Carousel 2">
        </div>
        <div class="carousel-caption">
            <h3>Title Goes Here</h3>
            <p>Consectetur tortor volutpat pretium.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide id="thirdSlide">
        <div class="picsum-img-wrapper">
            <img src="assets/img-02.jpeg" alt="Angular Carousel 2">
        </div>
        <div class="carousel-caption">
            <h3>Title Goes Here</h3>
            <p>Consectetur tortor volutpat pretium.</p>
        </div>
    </ng-template>
</ngb-carousel> -->

<div class="form-group">
    <label for="file">Choose File</label>
    <input type="file"
        id="file"
        (change)="handleFileInput($event.target.files)">
</div>

<div class="previewMsg">
    <img id="output" width="300" [ngClass]="isWheeled ? 'scale-image' : ''" (wheel)="onClickModal($event)" />
</div>


<!-- Modal content -->
<!-- <div id="myModal" #mymodal class="modal">
    <div class="modal-content">
        <span class="close" (click)="close()">&times;</span>
        <div class="img-container">
            <input type="checkbox" checked="false" id="checkBox">
            <img src="" title="image" id="previewImg" (click)="zoominClick()" />
        </div>
    </div>
</div> -->

<!-- <lib-ngx-image-zoom [thumbImage]=url [fullImage]=url [magnification]="1"
    [enableScrollZoom]="true"
    [enableLens]="false" [lensWidth]="500"></lib-ngx-image-zoom> -->
    
<div class="feedback-slides">
    <div class="client-feedback" style="width: 55%; margin: 0 auto">
        <ngx-slick-carousel
            class="carousel feedback"
            #slickModal="slick-carousel"
            [config]="imagesSlider">
            <div ngxSlickItem *ngFor="let slide of imageObject" class="slide">
                <img src="{{ slide.image }}" alt="" width="100%">
            </div>
        </ngx-slick-carousel>
    </div>
</div>

<div class="client-thumbnails">
    <ngx-slick-carousel
        class="carousel thumbs"
        #slickModal="slick-carousel"
        [config]="thumbnailsSlider">
        <div ngxSlickItem *ngFor="let slide of imageObject" class="slide">
            <img src="{{ slide.image }}" alt="" width="100%">
        </div>
    </ngx-slick-carousel>
</div>